<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <!--<filter>-->
        <!--<filter-name>CharacterEncodingFilter</filter-name>-->
        <!--<filter-class>org.cpp.gis.filter.CharacterEncodingFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>CharacterEncodingFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
     <!--spring -->
    <!--<context-param>-->
        <!--<param-name>contextConfigLocation</param-name>-->
        <!--<param-value>classpath:conf/applicationContext.xml</param-value>-->
    <!--</context-param>-->

    <!--<listener>-->
        <!--<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
    <!--</listener>-->

    <!--&lt;!&ndash; springMVC &ndash;&gt;-->
    <!--<servlet>-->
        <!--<servlet-name>springDispatcherServlet</servlet-name>-->
        <!--<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>-->
        <!---->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>classpath:conf/springMVC.xml</param-value>-->
        <!--</init-param>-->
    <!--</servlet>-->
    <!---->
    <!--<servlet-mapping>-->
        <!--<servlet-name>springDispatcherServlet</servlet-name>-->
        <!--<url-pattern>/</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--mapxtreme地图服务器的servlet的配置-->
    <servlet>
        <servlet-name>mapxtreme</servlet-name>
        <servlet-class>com.mapinfo.mapxtreme.MapXtremeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- internal servlets which are called by MapXtremeServlet -->
    <!-- these servlets should not be called directly!          -->
    <servlet>
        <servlet-name>mxtj_image</servlet-name>
        <servlet-class>com.mapinfo.mapxtreme.ImageHandlerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>mxtj_metadata</servlet-name>
        <servlet-class>com.mapinfo.mapxtreme.MetadataHandlerServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>mxtj_vector</servlet-name>
        <servlet-class>com.mapinfo.mapxtreme.VectorHandlerServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <!-- servlet URL mappings -->
    <!-- mapxtreme -->
    <servlet-mapping>
        <servlet-name>mapxtreme</servlet-name>
        <url-pattern>/servlet/mapxtreme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mapxtreme</servlet-name>
        <url-pattern>/mapxtreme</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>MapServlet</description>
        <display-name>MapServlet</display-name>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>org.cpp.gis.servlet.MapServlet</servlet-class>

        <init-param>
            <!--地图存放路径配置-->
            <param-name>mapPath</param-name>
            <param-value>test5</param-value>
        </init-param>
        <init-param>
            <!--地图集合文件完整路径，需要和地图存放路径保持同步-->
            <param-name>fileToLoad</param-name>
            <param-value>test5/map.gst</param-value>
        </init-param>
        <init-param>
            <!-- 地图服务器的引用路径配置 -->
            <param-name>mapxtremeURL</param-name>
            <param-value>http://localhost:8080/gis/mapxtreme</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/servlet/MapServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>initServlet</servlet-name>
        <servlet-class>org.cpp.gis.servlet.InitServlet</servlet-class>

        <init-param>
            <!--地图存放路径配置-->
            <param-name>mapPath</param-name>
            <param-value>test5</param-value>
        </init-param>
        <init-param>
            <!--地图集合文件完整路径，需要和地图存放路径保持同步-->
            <param-name>fileToLoad</param-name>
            <param-value>test5/map.gst</param-value>
        </init-param>
        <init-param>
            <!-- 地图服务器的引用路径配置 -->
            <param-name>mapxtremeURL</param-name>
            <param-value>http://localhost:8080/gis/mapxtreme</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>initServlet</servlet-name>
        <url-pattern>/servlet/InitServlet</url-pattern>
    </servlet-mapping>


    <!-- test Rose -->
    <!--<servlet>-->
        <!--<servlet-name>testSearchAtPoint</servlet-name>-->
        <!--<servlet-class>org.cpp.gis.servlet.MapServlet_Rose</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>testSearchAtPoint</servlet-name>-->
        <!--<url-pattern>/servlet/MapServlet_Rose</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>org.cpp.gis.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/servlet/UserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>modifyServlet</servlet-name>
        <servlet-class>org.cpp.gis.servlet.ModifyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>modifyServlet</servlet-name>
        <url-pattern>/servlet/ModifyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>featurePointServlet</servlet-name>
        <servlet-class>org.cpp.gis.servlet.FeaturePointServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>featurePointServlet</servlet-name>
        <url-pattern>/servlet/FeaturePointServlet</url-pattern>
    </servlet-mapping>
    <!--转发servlet-->
    <servlet>
        <servlet-name>forwardServlet</servlet-name>
        <servlet-class>org.cpp.gis.servlet.ForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>forwardServlet</servlet-name>
        <url-pattern>/servlet/ForwardServlet</url-pattern>
    </servlet-mapping>
     <!--&lt;!&ndash;编码过滤器&ndash;&gt;-->
    <!--<filter>-->
        <!--<filter-name>SetCharacterEncodig</filter-name>-->
        <!--<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>encoding</param-name>-->
            <!--<param-value>UTF-8</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>SetCharacterEncodig</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>