body{
    margin: 0;
    padding: 0;
}

.header_warp {
    height: 60px;
    line-height: 60px;
    background: #f8f8f8;
    clear: both;
    zoom: 1;
    overflow: hidden;
}
.logo{
    height: 60px;
    /*background:url(/images/logo.gif);*/
}

.modal-dialog{
    margin-right:80px;
    margin-top:30px;
    width:380px;
    height:620px;;
}

#cInput {
    widht:250px;
    height:30px;
}

#cSubmit {
    margin-top: 20px;
    margin-left: 80px;
    width:200px;
    height:50px;
}

#cPrepareDesc{
   /* margin-left:50px;
    width:260px;
    height:85px;
    resize: none;
    max-width: 260px;
    max-height: 85px;*/
    width:250px;
    height:80px;
    resize: none;
    max-width: 250px;
    max-height: 70px;
    margin-left: 8px;
}

#cContent{
    font-size: 13px;
    width:350px;
    height: 460px;
    padding-top:5px;
    padding-left: 10px;
}
#cheader{
    font-size: 13px;
}
#cContent input{
    margin-bottom: 5px;
    font-size: 13px;
}

#cContent p{
    height: 15px;
    line-height: 15px;
}

#cAlias{
    width:250px;
    height: 25px;
}

#modifyDesc{
    width:250px;
    height:70px;
    resize: none;
    max-width: 250px;
    max-height: 70px;
    margin-bottom: 5px;
}

#modifyPeople{
    width:250px;
    height: 25px;;
}

#identification{
    width:250px;
    height: 30px;
}

#modifyCollege {
    margin-top: 5px;
    width:250px;
    height: 30px;
}

#modifyPhone {
    margin-top: 5px;
    width:250px;
    height: 25px;
}

#cScale{
    position:absolute;
    left:10px;
    top:250px;
    float:left;
    z-index: 9999;
}

#slider-vertical{
    position: absolute;
    left: 10px;
    top: 300px;
    float: left;
    background-color:#4276FF;
}
#ex4Slider .slider-selection {
    background: #BABABA;
}

.tool_warp{
    font-family: '微软雅黑';
}
.body-r{
    width: 390px;
    height: 540px;
    background: url("../images/body-r.png");
    position: absolute;
    top: 70px;
    left: 980px;
}


#footer {
    margin: auto;
    padding-top: 630px;
    width: 500px;
    height: 30px;
    background: url(../images/footer-bg.png) bottom center no-repeat;
    font-family: "Times New Roman", Times, Georgia;
    font-weight: normal;
    font-size: 16px;
    color: #8d8d8d;
}


#footer a {
    text-decoration: none;
    color: #8d8d8d;
}

#footer a:hover, #footer a:focus {
    text-decoration: none;
    color: #2d2d2d;
}
