body{
    margin: 0;
    padding: 0;
}

.header_warp {
    height: 60px;
    line-height: 60px;
    background: #f8f8f8;
    clear: both;
    zoom: 1;
    overflow: hidden;
}
.logo{
    height: 60px;
    /*background:url(/images/logo.gif);*/
}

.modal-dialog{
    width:280px;
    height:300px;;
}

#cInput {
    widht:250px;
    height:30px;
}

#cSubmit {
    margin-left: 40px;
    width:200px;
    height:30px;
}

#cContent{
    font-size: 13px;
    width:278px;
    height: 250px;
    padding-top:5px;
    padding-left: 5px;
}
#cContent input{
    margin-bottom: 5px;
}

#cContent p{
    margin-left: 20px;
    height: 15px;
    line-height: 15px;
}

#cAlias{
    width:180px;
    height: 25px;
}

#modifyPeople{
    width:180px;
    height: 25px;
}

#modifyCollege {
    width:180px;
    height: 25px;
}

#modifyPhone {
    width:180px;
    height: 25px;
}

#cScale{
    position:absolute;
    left:10px;
    top:250px;
    float:left;
    z-index: 9999;
}

#slider-vertical{
    position: absolute;
    left: 10px;
    top: 300px;
    float: left;
    background-color:#4276FF;
}
#ex4Slider .slider-selection {
    background: #BABABA;
}

.tool_warp{
    font-family: '微软雅黑';
}
.body-r{
    width: 360px;
    height: 535px;
    background: url("../images/body-r.png");
    position: absolute;
    top: 70px;
    left: 980px;
}